<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>PaintedByJeffDemo-main</title>
	<div th:replace="fragments/head"></div>
	<style>
	
		#product {
		
			margin-top: 75px;
		}
		#productImage {
			background: white;
			max-height: 100vh;
		}
		
		img {
			max-height: 80vh;
		}
		
		.modal-body {  
		  
		  animation-name: zoom;
		  animation-duration: 0.6s;
		}
		
		@keyframes zoom {
		  from {transform:scale(0)} 
		  to {transform:scale(1)}
		}

	</style>
</head>

<body>
	
	<header>
		<div th:replace="fragments/navbar"></div>
  	</header>
  	
  	<!--Main layout-->
  <main>
    <div class="container mt-5" style="background: white;">
    <div class="d-flex align-items-center h-100">
	        <div class="container text-center  py-5">
	          <h2 class="mb-0" >Painting Detail</h2>
	        </div>
	      </div>

      <!--Section: Block Content-->
      <section class="mb-5">

        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">
            <!-- image triggers modal -->
            <!-- Button trigger modal -->
				
				<a data-toggle="modal" data-target="#exampleModalCenter" style="cursor: zoom-in;">
					<!-- <div style="overflow: hidden;" > -->
					<div>
				        <img th:alt="${product.name}" th:src="@{${product.image}}" style="opacity: 1; width: 100%;">
				    </div>
				</a>
				
				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body" style="overflow: scroll;">
				        <img th:alt="${product.name}" th:src="@{${product.image}}"  >
				      </div>
				      
				    </div>
				  </div>
				</div>
            <!-- end modal -->
      
          </div>
          <div class="col-md-6">

            <h5 th:text="${product.name}"></h5>
            
            <p><span class="mr-1"><strong th:text="${#numbers.formatCurrency(product.price)}"></strong></span></p>
            <p class="pt-1" th:text="${product.description}"></p>
            <div class="table-responsive">
              <table class="table table-sm table-borderless mb-0">
                <tbody>
                  <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Media</strong></th>
                    <td th:text="${product.media}"></td>
                  </tr>
                  <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Dimensions</strong></th>
                    <td th:text="${product.dimensions}"></td>
                  </tr>
                  <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
                    <td th:text="${product.category}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>

              <form th:action="@{/cart}" th:object="${product}" method="post">
							<input type="hidden"  th:field="*{id}"/>
							<button type="submit" class="btn btn-light btn-md mr-1 mb-2"><i class="fas fa-shopping-cart pr-2"></i>Add to
              cart</button>
						</form>
						<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
							<form th:action="@{/cart}" th:object="${product}" method="post">
							<input type="hidden"  th:field="*{id}"/>
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
              
              
          </div>
        </div>

      </section>

      <hr>

      <!--Section: Block Content-->
      <section class="text-center">

        <h4 class="text-center my-5"><strong>Related products</strong></h4>

        <!-- Grid row -->
        <div class="row d-flex justify-content-center">

          <!-- Grid column -->
          <!-- TODO: make this an "each" carousel for all paintings in category -->
          <div class="col-md-6 col-lg-3 mb-5" th:each="item : ${products}">

            <!-- Card -->
            <div class="card">
				<a th:href="@{/product/} + ${item.id}" style="text-decoration: none; color: black;">
              <div class="view zoom overlay z-depth-2 rounded">
                <img class="img-fluid w-100" th:src="@{${item.image}}" alt="item.description">
                
                  </div>
                </a>
              <div class="pt-4">
                <h5 th:text="${item.name}"></h5>
                <p><span><strong th:text="${#numbers.formatCurrency(item.price)}"></strong></span></p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Block Content-->

    </div>
  </main>
  <!--Main layout-->
	
	

	

	<div class="main d-flex align-items-center">
	
	<div class="container">

		<!-- start admin product tools here -->
		<div class="container form-container bg-light col-md-6" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
			<hr>
			<h2>Update this product</h2>
			<form th:action="@{/product}" th:object="${product}" method="post" autocomplete="off">
			
				<div class="form-group">
					<label th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}" class="validation-message"></label> <input
						type="text" th:field="*{name}" placeholder="Product Name"
						class="form-control" />
				</div>
				<div class="form-group">
					<label th:if="${#fields.hasErrors('dimensions')}"
						th:errors="*{dimensions}" class="validation-message"></label> <input
						type="text" th:field="*{dimensions}" placeholder="Product Dimensions"
						class="form-control" />
				</div>
		
			<!-- TODO: make dropdown -->
			<div class="form-group">
				<label th:if="${#fields.hasErrors('media')}"
					th:errors="*{media}" class="validation-message"></label> <input
					type="text" th:field="*{media}" placeholder="Type of media"
					class="form-control" />
			</div>
			<!-- make text area -->
			<div class="form-group">
				<input type="text" th:field="*{description}" placeholder="Description of piece"
					class="form-control" /> <label
					th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
					class="validation-message"></label>
			</div>
			<!-- make dropdown? -->
			<div class="form-group">
				<input type="text" th:field="*{category}" placeholder="Painting Category"
					class="form-control" /> <label
					th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
					class="validation-message"></label>
			</div>
			<div class="form-group">
				<input type="text" th:field="*{image}" placeholder="Image URL"
					class="form-control" /> <label
					th:if="${#fields.hasErrors('image')}" th:errors="*{image}"
					class="validation-message"></label>
			</div>
			<div class="form-group">
				<button class="btn btn-md btn-outline-success" name="Submit"
					value="Submit" type="Submit" th:text="Submit"></button>
			</div>
		</form>
		</div>
	</div>
	</div>

	<footer th:replace="fragments/footer"></footer>	

</body>
</html>

